<section id="editing" class="editing" aria-labelledby="editing-title">

  <div class="editing__header">
    <span class="editing__brand">Human Desire Corp.</span>
    <p class="editing__verses">
      Primero vinieron por los protestantes<br />
      Luego vinieron por los religiosos<br />
      Luego fueron por los periodistas
    </p>
  </div>

  <div class="editing__subtitle-row">
    <span class="editing__subtitle">// 1+ año, Director y Productor</span>
  </div>

  <div class="editing__content">
    <div class="editing__card">
      <h2 id="editing-title">ELLOS VINIERON<br />PRIMERO</h2>
      <div class="editing__meta">
        <span>Cortometraje experimental</span>
        <span>julio 2026</span>
        <span>Edicion Patrick Teran</span>
      </div>
    </div>
  </div>

  <div class="editing__footer">
    <p>
      Este proyecto se concreto con varias horas de editado y grabaciones
      de audio por parte de los doblajes de reporteros y noticieros, ademas del uso
      de soundtrack oficial por parte del artista Bitzzzo con el album Bitz/3, todo este
      proyecto fue gracias a colectivos de artistas, productores de musica y actores de doblaje
    </p>
  </div>

</section>
